* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f5f7fa;
    padding: 20px;
}
body {
    font-family: 'Saira', sans-serif;
}
.general-content {
    background: #f5f1ef;
    display: flex;
}
.side-bar {
    background:  #4682B4;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
font-size: 22px;
font-weight: 700;
line-height: 24px;
color: white;
margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #E0FFFF;
}

.contacts-cet {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;;
    color: white;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #7FFFD4;
    margin-left: 17px;
}

.skills-item-color {
    color: #F0FFFF;
}

.soft-skills-title {
font-size: 22px;
font-weight: 700;
line-height: 24px;
margin-bottom: 20px;
margin-top: 55px;
color: white;
}

.support-engineer {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 55px;
}
.Color-my-info {
    color: #2e313e;
}

.my-photo {
    width: 370px;
}

.work-color {
    color: #4682B4;
}

.info-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.work-item {
    margin-left: 20px;
}

.work-exp {
    margin-bottom: 25px;
}

.mmyy-color {
    color: #a6abae;
}

.style-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}